
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1><a class="navbar-brand" href="#">Dil Ki Awaz</a></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >Favourite-List</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button style="left: 150px;"  class="btn btn-outline-success" type="submit" click>Search</button>
      </form>
    </div>
  </div>
</nav>


<h1 class="mb-3" style=" text-align:center; font-style:oblique;">SongsList</h1>
<input type="text" #textboxdata placeholder="Enter min 3 char" (keyup.enter)="SearchDocument(textboxdata.value)" class="search">
<div *ngIf="show">
  <div class="container text-center">
  <div class="row row-cols-2">
      <div class="col">
          <table class="table" style=" width:210%; font-style: italic;">
              <thead>
              <tr >
                  <th>Id</th>
                  <th>Name</th>
                  <th>Genre</th>
                  <th>Audio</th>
              </tr>
          </thead>
          <tbody >
            <tr >
                  <td >{{searchdata.songID}}</td>
                  <td>{{searchdata.songName}}</td>
                  <td>{{searchdata.songGener}}</td>
                  <td>
                    <audio controls>
                      <source src={{searchdata.songLocation}} type="audio/mpeg"> 
                    </audio>
                  </td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" *ngIf="!show">
  <div class="row row-cols-2">
      <div class="col">
          <table class="table" style=" width:210%; font-style: italic;">
              <thead>
              <tr >
                  <th>Id</th>
                  <th>Name</th>
                  <th>Genre</th>
                  <th>Audio</th>
              </tr>
          </thead>
          <tbody >
              <tr *ngFor="let song of Songs" >
                  <td >{{song.songID}}</td>
                  <td>{{song.songName}}</td>
                  <td>{{song.songGener}}</td>
                  <td>
                    <audio controls>
                      <source src={{song.songLocation}} type="audio/mpeg"> 
                    </audio>
                  </td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
  <p *ngIf="!Songs || Songs.length <= 0">
      No Songs Found
  </p>
</div>



